@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  font-family: "Lato", sans-serif;
}

:root {
  --primary: 201, 100%, 36%, 1;
  --secondary: 201, 100%, 96%, 1;
  --default: 0, 0%, 13%, 1;
  --accent: 219, 13%, 46%, 1;
  --lightGrey: 210, 20%, 98%, 1;
  --danger: 3, 100%, 59%, 1;
  --warning: 100, 100%, 100%, 1
}

.active {
  background: hsla(255, 100%, 100%, 0.1);
}

/* Extend Tailwind CSS for custom scrollbar styles */
@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-rounded {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }
  .scrollbar-rounded::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar-rounded::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-rounded::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
  .scrollbar-rounded::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
