@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

*,
::before,
::after {
	font-family: "Lato", sans-serif;
}

:root {
	--primary: 201, 100%, 36%, 1;
	--secondary: 201, 100%, 96%, 1;
	--default: 0, 0%, 13%, 1;
	--accent: 219, 13%, 46%, 1;
	--lightGrey: 210, 20%, 98%, 1;
}
